<!DOCTYPE HTML>
<html lang="en">

<head>
   <!--Meta Tags-->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="" />
   <meta name="keywords" content="" />
   <meta name="author" content="" />
   <!--Favicons-->
   <link rel="shortcut icon" href="images/favicon.png">
   <!--Page Title-->
   <title>Vitalis - Personal Portfolio</title>
   <!-- Bootstrap  -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <!-- Awesome Fonts-->
   <link rel="stylesheet" href="css/all.min.css">
   <!--Main Styles Css-->
   <link rel="stylesheet" href="css/style.css">
</head>

<body>

   <!-- Preloader -->
   <div id="preloader">
      <div class="pre-container">
         <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
         </div>
      </div>
   </div>
   <!-- Εnd Preloader -->

   <!-- Main menu -->
   <nav class="navbar navbar-expand-lg navbar-dark dark navbar-light" id="navbar">
      <div class="container">
         <!-- Logo -->
         <a class="navbar-brand" href="/">@agavitalis</a>

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
         </button>

         <div class="collapse navbar-collapse" id="nav">
            <!-- Nav-links -->
            <ul class="navbar-nav ml-auto">
               <li class="nav-item active"><a href="/" class="nav-link">Dashboard</a></li>
               <li class="nav-item"><a href="#about" class="nav-link">Experience</a></li>
               <li class="nav-item"><a href="#service" class="nav-link">Projects</a></li>
               <li class="nav-item"><a href="#work" class="nav-link">Contacts</a></li>
            </ul>
         </div>
      </div>
   </nav>
  
   <!-- Counter Section -->
   <div class="counter img" id="section-counter" style="background-image: url(images/bg_1.jpg);">
      <div class="overlay"></div>
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-md-10">
               <div class="row">
                  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
                     <div class="block-counter text-center">
                        <div class="text">
                           <div class="icon"><i class="fas fa-thumbs-up"></i></div>
                           <strong class="number">+80</strong>
                           <span>Experience</span>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
                     <div class="block-counter text-center">
                        <div class="text">
                           <div class="icon"><i class="fas fa-award"></i></div>
                           <strong class="number">+4</strong>
                           <span>Projects</span>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
                     <div class="block-counter text-center">
                        <div class="text">
                           <div class="icon"><i class="fas fa-smile"></i></div>
                           <strong class="number">+50</strong>
                           <span>Contacts</span>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
                     <div class="block-counter text-center">
                        <div class="text">
                           <div class="icon"><i class="fas fa-graduation-cap"></i></div>
                           <strong class="number">+8</strong>
                           <span>Others</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Counter Section End -->

   <!-- Footer -->
   <footer class="footer section img" id="footer">
      <div class="overlay"></div>
      <div class="container">
         <div class="row mb-5">
         </div>
         <div class="row">
            <div class="col-md-12 text-center">
               <a class="navbar-brand mb-3 ml-3" href="#">Admin</a>

               <!-- Social -->
               <p class="social-icon">
                  <a href="#"><i class="fab fa-facebook-square"></i></a>
                  <a href="#"><i class="fab fa-twitter-square"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-dribbble"></i></a>
               </p>

               <!-- Copyright -->
               <p>Copyright 2020 &copy; All rights reserved.</p>

            </div>
         </div>
      </div>

      <!-- Back to top button -->
      <a id="back-to-top" href="#"><i class="fas fa-chevron-up"></i></a>

   </footer>
   <!-- Footer End -->

   <!-- jQuery -->
   <script src="js/jquery.min.js"></script>
   <!-- Popper js -->
   <script src="js/popper.min.js"></script>
   <!-- Bootstrap js -->
   <script src="js/bootstrap.min.js"></script>
   <!-- isotope js -->
   <script src="js/isotope.pkgd.min.js"></script>
   <!-- isotope image loader js -->
   <script src="js/imagesloaded.pkgd.min.js"></script>
   <!-- Particles -->
   <script src="js/particles.min.js"></script>
   <script src="js/app.js"></script>
   <!-- Typed js -->
   <script src="js/typed.min.js"></script>
   <!-- Custom js -->
   <script src="js/custom.js"></script>
</body>

</html>