<!DOCTYPE HTML>
<html lang="en">

<head>
    <!--Meta Tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <!--Favicons-->
    <link rel="shortcut icon" href="images/favicon.png">
    <!--Page Title-->
    <title>Vitalis - Personal Portfolio</title>
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Awesome Fonts-->
    <link rel="stylesheet" href="css/all.min.css">
    <!--Main Styles Css-->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="pre-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- Εnd Preloader -->

    <!-- Main menu -->
    <nav class="navbar navbar-expand-lg navbar-dark dark navbar-light" id="navbar">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="/">@agavitalis</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="nav">
                <!-- Nav-links -->
            <ul class="navbar-nav ml-auto">
               <li class="nav-item active"><a href="/" class="nav-link">Dashboard</a></li>
               <li class="nav-item"><a href="/experience" class="nav-link">Experience</a></li>
               <li class="nav-item"><a href="/project" class="nav-link">Projects</a></li>
               <li class="nav-item"><a href="/contact" class="nav-link">Contacts</a></li>
            </ul>
            </div>
        </div>
    </nav>



    <!-- Contact Section -->
    <section class="section contact-section dark" id="contact">
        <div class="container mt-5">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section  text-center">
                    <div class=" white section-title-uin"> Experience </div>
                    <h2 class="mb-4">Manage experience</h2>
                    <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                    <p class="mt-5">Add and delete your work experience here.</p>
                </div>
            </div>
            <div class="row block-9">
                <div class="col-md-5">
                    <form action="#" class="contact-form">

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Job Title">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Duration">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Roles Title">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" cols="30" rows="4" class="form-control"
                                placeholder="Role Description"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="Register" value="Send Message" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>
                </div>
                <div class="col-md-7">
                    <div class="bg-dots" id="resume">
                        <div class="col-md-12">
                            <div class="item mb-40">
                                <h4><span class="item-icon"><i class="fas fa-briefcase"></i></span>Creative Director
                                </h4>
                                <span class="meta">10.2017 - 09.2019</span>
                                <h5>Freelancer</h5>
                                <p>hasellus ipsum metus, gravida sit amet sollicitudin ac, efficitur eget risus.
                                    Curabitur commodo
                                    malesuada neque at hendrerit.</p>
                            </div>
                            <div class="item mb-40">
                                <h4><span class="item-icon"><i class="fas fa-briefcase"></i></span>Creative Director
                                </h4>
                                <span class="meta">09.2017 - 04.2019</span>
                                <h5>Freelancer</h5>
                                <p>hasellus ipsum metus, gravida sit amet sollicitudin ac, efficitur eget risus.
                                    Curabitur commodo
                                    malesuada neque at hendrerit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Footer -->
    <footer class="footer section img" id="footer">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="navbar-brand mb-3 ml-3" href="#">Admin</a>

                    <!-- Social -->
                    <p class="social-icon">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-dribbble"></i></a>
                    </p>

                    <!-- Copyright -->
                    <p>Copyright 2020 &copy; All rights reserved.</p>

                </div>
            </div>
        </div>

        <!-- Back to top button -->
        <a id="back-to-top" href="#"><i class="fas fa-chevron-up"></i></a>

    </footer>
    <!-- Footer End -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- isotope js -->
    <script src="js/isotope.pkgd.min.js"></script>
    <!-- isotope image loader js -->
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <!-- Particles -->
    <script src="js/particles.min.js"></script>
    <script src="js/app.js"></script>
    <!-- Typed js -->
    <script src="js/typed.min.js"></script>
    <!-- Custom js -->
    <script src="js/custom.js"></script>
</body>

</html>