<!DOCTYPE HTML>
<html lang="en">
   
<!-- Mirrored from pavloffstudio.com/kotaro/demo/dark-particles/work-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 Dec 2019 11:06:48 GMT -->
<head>
      <!--Meta Tags-->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <meta name="author" content="" />
      <!--Favicons-->
      <link rel="shortcut icon" href="images/favicon.png">
      <!--Page Title-->
      <title>Kotaro - Personal Portfolio Template</title>
      <!-- Bootstrap  -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Awesome Fonts-->
      <link rel="stylesheet" href="css/all.min.css">
      <!--Main Styles Css-->
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body>

      <!-- Main menu -->
      <nav class="navbar navbar-expand-lg navbar-dark dark navbar-light" id="navbar">
         <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="index.html">Kotaro</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="nav">
               <!-- Nav-links -->
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
                  <li class="nav-item"><a href="index.html#about" class="nav-link">About</a></li>
                  <li class="nav-item"><a href="index.html#service" class="nav-link">Services</a></li>
                  <li class="nav-item active"><a href="#work" class="nav-link">Gallery</a></li>
                  <li class="nav-item"><a href="index.html#blog" class="nav-link">Blog</a></li>
                  <li class="nav-item"><a href="index.html#contact" class="nav-link">Contact</a></li>
               </ul>
            </div>
         </div>
      </nav>

      <!-- Banner section -->
      <div class="banner js-fullheight" style="background-image: url('images/bg_2.jpg');" id="banner">
         <div class="overlay"></div>

         <!-- particles.js -->
         <div id="particles-js"></div>   

         <div class="container">
            <div class="row no-gutters banner-text js-fullheight align-items-center justify-content-start">
               <div class="col-md-6">
                  <h1 class="mb-3">I'm Kotaro Seiko!</h1>
                  <p class="mb-5">I am a
                     <span id="typed"></span>
                     <span id="typed-strings">
                     <span>Designer</span>
                     <span>Freelancer</span>
                     </span>
                  </p>
                  <p><a href="#" class="btn btn-primary px-4 py-3">Download CV</a></p>
               </div>
            </div>
         </div>
      </div>

      <section class="intro">
         <div class="container-wrap">
            <div class="wrap d-md-flex align-items-end">
               <div class="info">
                  <div class="row">

                     <!-- Scroll icon -->
                     <div class="scroll-icon">
                        <a href="#about" class="smoothscroll">
                           <div class="mouse"></div>
                        </a>
                        <div class="end-top"></div>
                     </div>

                     <div class="col-md-4 d-flex mb-3">
                        <div class="icon"><i class="fas fa-phone"></i></div>
                        <div class="text">
                           <h3>Phone</h3>
                           <p>+123 456-789-000</p>
                        </div>
                     </div>
                     <div class="col-md-4 d-flex mb-3">
                        <div class="icon"><i class="fas fa-map-marked-alt"></i></div>
                        <div class="text">
                           <h3>Address</h3>
                           <p>198 West 21th Street Suite 123 NY</p>
                        </div>
                     </div>
                     <div class="col-md-4 d-flex mb-3">
                        <div class="icon"><i class="fas fa-envelope"></i></div>
                        <div class="text">
                           <h3>Email</h3>
                           <p>info@example.com</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="social pl-md-5 p-4">
                  <!-- Social -->
                  <ul class="social-icon">
                     <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                     <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                     <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                     <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
      <!-- End Banner Section -->

      <section class="section">
         <div class="container">
            <div class="row">
               <div class="col-md-8 mb-4">
                  <img class="img-fluid" src="images/work-1.jpg" alt="">
               </div>
               <div class="col-md-4">
                     <div class="desc">
                        <h2>Work Name</h2>
                        <span><a href="#">Logo</a>, <a href="#">Brading</a></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas auctor vitae felis non porta. Mauris nibh diam, pharetra eu nunc id lobortis faucibus purus. Praesent sit amet urna id velit dignissim pellentesque. Nulla semper nibh id dui aliquet, nec imperdiet nisi ullamcorper. Aliquam in pellentesque libero. </p>
                        <hr>
                        <p class="social-icon">
                           <a href="#"><i class="fab fa-facebook-square"></i></a>
                           <a href="#"><i class="fab fa-twitter-square"></i></a>
                           <a href="#"><i class="fab fa-instagram"></i></a>
                           <a href="#"><i class="fab fa-dribbble"></i></a>
                        </p>
                     </div>
               </div>
            </div>
         </div>
      </section>

      <!-- Footer -->
      <footer class="footer section img" id="footer">
         <div class="overlay"></div>
         <div class="container">
            <div class="row mb-5">
            </div>
            <div class="row">
               <div class="col-md-12 text-center">
                  <a class="navbar-brand mb-3 ml-3" href="index.html">Kotaro</a>

                  <!-- Social -->
                  <p class="social-icon">
                     <a href="#"><i class="fab fa-facebook-square"></i></a>
                     <a href="#"><i class="fab fa-twitter-square"></i></a>
                     <a href="#"><i class="fab fa-instagram"></i></a>
                     <a href="#"><i class="fab fa-dribbble"></i></a>
                  </p>

                  <!-- Copyright -->
                  <p>Copyright 2019&copy; All rights reserved.</p>

               </div>
            </div>
         </div>

         <!-- Back to top button -->
         <a id="back-to-top" href="#"><i class="fas fa-chevron-up"></i></a>

      </footer>
      <!-- Footer End -->

      <!-- jQuery -->
      <script src="js/jquery.min.js"></script>
      <!-- Popper js -->
      <script src="js/popper.min.js"></script>
      <!-- Bootstrap js -->
      <script src="js/bootstrap.min.js"></script> 
      <!-- isotope js -->
      <script src="js/isotope.pkgd.min.js"></script>
      <!-- isotope image loader js -->
      <script src="js/imagesloaded.pkgd.min.js"></script>
      <!-- Particles -->
      <script src="js/particles.min.js"></script>
      <script src="js/app.js"></script>
      <!-- Typed js -->
      <script src="js/typed.min.js"></script>
      <!-- Custom js -->
      <script src="js/custom.js"></script>
   </body>

<!-- Mirrored from pavloffstudio.com/kotaro/demo/dark-particles/work-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 Dec 2019 11:06:48 GMT -->
</html>