<!DOCTYPE HTML>
<html lang="en">

<head>
   <!--Meta Tags-->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="" />
   <meta name="keywords" content="" />
   <meta name="author" content="" />
   <!--Favicons-->
   <link rel="shortcut icon" href="images/favicon.png">
   <!--Page Title-->
   <title>Vitalis - Personal Portfolio</title>
   <!-- Bootstrap  -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <!-- Awesome Fonts-->
   <link rel="stylesheet" href="css/all.min.css">
   <!--Main Styles Css-->
   <link rel="stylesheet" href="css/style.css">
</head>

<body>

   <!-- Preloader -->
   <div id="preloader">
      <div class="pre-container">
         <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
         </div>
      </div>
   </div>
   <!-- Εnd Preloader -->

   <!-- Main menu -->
   <nav class="navbar navbar-expand-lg navbar-dark dark navbar-light" id="navbar">
      <div class="container">
         <!-- Logo -->
         <a class="navbar-brand" href="/">@agavitalis</a>

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
         </button>

         <div class="collapse navbar-collapse" id="nav">
            <!-- Nav-links -->
            <ul class="navbar-nav ml-auto">
               <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
               <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
               <li class="nav-item"><a href="#service" class="nav-link">Services</a></li>
               <li class="nav-item"><a href="#work" class="nav-link">My Works</a></li>
               <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
            </ul>
         </div>
      </div>
   </nav>

   <!-- Banner section -->
   <div class="banner js-fullheight" style="background-image: url('images/bg_2.jpg');" id="banner">
      <div class="overlay"></div>

      <!-- particles.js -->
      <div id="particles-js"></div>

      <div class="container">
         <div class="row no-gutters banner-text js-fullheight align-items-center justify-content-start">
            <div class="col-md-6">
               <h1 class="mb-3">I'm Ogbonna Vitalis!</h1>
               <p class="mb-5">I am a
                  <span id="typed"></span>
                  <span id="typed-strings">
                     <span>Software Developer</span>
                     <span>Software Engineer</span>
                  </span>
               </p>
               <p><a href="#" class="btn btn-primary px-4 py-3">Download CV</a></p>
            </div>
         </div>
      </div>
   </div>
   <section class="intro">
      <div class="container-wrap">
         <div class="wrap d-md-flex align-items-end">
            <div class="info">
               <div class="row">

                  <!-- Scroll icon -->
                  <div class="scroll-icon">
                     <a href="#about" class="smoothscroll">
                        <div class="mouse"></div>
                     </a>
                     <div class="end-top"></div>
                  </div>

                  <div class="col-md-4 d-flex mb-3">
                     <div class="icon"><i class="fas fa-phone"></i></div>
                     <div class="text">
                        <h3>Phone</h3>
                        <p>+234 816-392-2749</p>
                     </div>
                  </div>
                  <div class="col-md-4 d-flex mb-3">
                     <div class="icon"><i class="fas fa-map-marked-alt"></i></div>
                     <div class="text">
                        <h3>Address</h3>
                        <p>Lagos, Nigeria</p>
                     </div>
                  </div>
                  <div class="col-md-4 d-flex mb-3">
                     <div class="icon"><i class="fas fa-envelope"></i></div>
                     <div class="text">
                        <h3>Email</h3>
                        <p>agavitalisogbonna@gmail.com</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="social pl-md-5 p-4">
               <!-- Social -->
               <ul class="social-icon">
                  <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                  <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>

                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>

               </ul>
            </div>
         </div>
      </div>
   </section>
   <!-- End Banner Section -->

   <!-- About Section -->
   <section class="section bg-dots" id="about">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-md-4 d-flex">
               <div class="img-about align-self-stretch" style="background-image: url(images/bg_3.jpg); width: 100%;">
               </div>
            </div>
            <div class="col-md-8 pl-md-5 ">
               <div class=" white section-title-uin-home"> WELCOME </div>
               <div class="section-title-left">
                  <h2>I'm Vitalis Ogbonna</h2>
                  <h3>I am a Software Engineer</h3>
               </div>
               <p>A Software Engineer valued for driving quality and consistency throughout all phases of software
                  development. Collaborating effectively with backend engineers, frontend engineers, business analysts,
                  UX designers and QA while applying agile development methodology throughout the product lifecycle to
                  produce high-quality, user-friendly, scalable and less buggy applications.</p>
               <hr>
               <div class="content-info mt-40 mb-40">
                  <div class="row">
                     <div class="col-lg-6 col-md-12 col-sm-12 single-info">
                        <span>
                           Name:
                        </span>
                        <p>Ogbonna Vitalis</p>
                     </div>
                     <div class="col-lg-6 col-md-12 col-sm-12 single-info">
                        <span>
                           Email:
                        </span>
                        <p><a href="mailto:agavitalisogbonna@gmail.com">agavitalisogbonna@gmail.com</a></p>
                     </div>

                  </div>
                  <div class="row">
                     <div class="col-lg-6 col-md-12 col-sm-12 single-info">
                        <span>
                           Phone:
                        </span>
                        <p><a href="tel:+234816922749" class="text-custom">+234 816-392-2749</a></p>
                     </div>
                     <div class="col-lg-6 col-md-12 col-sm-12 single-info">
                        <span>
                           Job:
                        </span>
                        <p>Software Engineer</p>
                     </div>

                  </div>
               </div>
               <a href="#" class="btn btn-primary px-4 py-3">Download CV</a>
               <a href="#" class="btn btn-secondary px-4 py-3">Hire Me</a>
            </div>
            <div class="col-md-6 mt-100">
               <div class="skill-item">
                  <h5>PHP(Laravel, Code Igniter and Wordpress)</h5>

                  <div class="progress" data-percent="100%">
                     <div class="progress-bar bar-null" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100" style="width: 100%;"></div>
                  </div>
               </div>
               <div class="skill-item">
                  <h5>Technical Writing</h5>

                  <div class="progress" data-percent="60%">
                     <div class="progress-bar bar-null" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 100%;"></div>
                  </div>
               </div>
               <div class="skill-item">
                  <h5>C# (.NET)</h5>

                  <div class="progress" data-percent="50%">
                     <div class="progress-bar bar-null" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                        aria-valuemax="100" style="width: 100%;"></div>
                  </div>
               </div>
               <div class="skill-item">
                  <h5>Networking(Huawei)</h5>

                  <div class="progress" data-percent="60%">
                     <div class="progress-bar bar-null" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 100%;"></div>
                  </div>
               </div>
               <div class="skill-item">
                  <h5>MySQL</h5>

                  <div class="progress" data-percent="60%">
                     <div class="progress-bar bar-null" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 100%;"></div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 mt-100">
               <div class="skill-item">
                  <h5>Javascript(NodeJS)</h5>

                  <div class="progress" data-percent="80%">
                     <div class="progress-bar bar-null" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100" style="width: 100%;"></div>
                  </div>
               </div>
               <div class="skill-item">
                  <h5>React &amp; React-Native</h5>

                  <div class="progress" data-percent="60%">
                     <div class="progress-bar bar-null" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 100%;"></div>
                  </div>
               </div>
               <div class="skill-item">
                  <h5>Html5 &amp; CSS3</h5>

                  <div class="progress" data-percent="50%">
                     <div class="progress-bar bar-null" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                        aria-valuemax="100" style="width: 100%;"></div>
                  </div>
               </div>
               <div class="skill-item">
                  <h5>Python</h5>

                  <div class="progress" data-percent="80%">
                     <div class="progress-bar bar-null" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100" style="width: 100%;"></div>
                  </div>
               </div>
               <div class="skill-item">
                  <h5>MongoDB</h5>

                  <div class="progress" data-percent="60%">
                     <div class="progress-bar bar-null" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 100%;"></div>
                  </div>
               </div>
            </div>


         </div>
      </div>
   </section>
   <!-- About Section End -->

   <!-- Services Section -->
   <section class="section dark" id="service">
      <div class="container">
         <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section  text-center">
               <div class=" white section-title-uin"> SERVICES </div>
               <h2 class="mb-4">My Services</h2>
               <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
               <p class="mt-5">Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
                  provident. Odit ab aliquam dolor eius.</p>
            </div>
         </div>
         <div class="row">
            <div class="col-md-3 ">
               <div class="media d-block text-center block-service services">
                  <div class="icon d-flex justify-content-center align-items-center mb-4">
                     <i class="fab fa-codepen"></i>
                  </div>
                  <div class="media-body">
                     <h3 class="heading">Consultancy</h3>
                     <p>Professional advice for your needs.</p>
                  </div>
               </div>
            </div>
            <div class="col-md-3 ">
               <div class="media d-block text-center block-service services">
                  <div class="icon d-flex justify-content-center align-items-center mb-4">
                     <i class="fas fa-paint-brush"></i>
                  </div>
                  <div class="media-body">
                     <h3 class="heading">Software Design</h3>
                     <p>World Class softwares designs.</p>
                  </div>
               </div>
            </div>
            <div class="col-md-3 ">
               <div class="media d-block text-center block-service services">
                  <div class="icon d-flex justify-content-center align-items-center mb-4">
                     <i class="fas fa-chart-line"></i>
                  </div>
                  <div class="media-body">
                     <h3 class="heading">Software Development</h3>
                     <p>First class software to suit your needs.</p>
                  </div>
               </div>
            </div>
            <div class="col-md-3 ">
               <div class="media d-block text-center block-service services">
                  <div class="icon d-flex justify-content-center align-items-center mb-4">
                     <i class="fas fa-laptop-code"></i>
                  </div>
                  <div class="media-body">
                     <h3 class="heading">Technical Writing</h3>
                     <p>Craft your technical tutorials and docs.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- Services Section End -->

   <!-- Resume Section -->
   <section class="section bg-dots" id="resume">
      <div class="container">
         <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section  text-center">
               <div class=" white section-title-uin"> RESUME </div>
               <h2 class="mb-4">My Resume</h2>
               <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
               <p class="mt-5">Experience is built with time, pratice and consistent pratice. Take a look at some of my experience over the years as a professional</p>
            </div>
         </div>
         <div class="row">
            <div class="col-md-6">
               <div class="item mb-40">
                  <h4><span class="item-icon"><i class="fas fa-briefcase"></i></span>Creative Director</h4>
                  <span class="meta">10.2017 - 09.2019</span>
                  <h5>Freelancer</h5>
                  <p>hasellus ipsum metus, gravida sit amet sollicitudin ac, efficitur eget risus. Curabitur commodo
                     malesuada neque at hendrerit.</p>
               </div>
               <div class="item mb-40">
                  <h4><span class="item-icon"><i class="fas fa-briefcase"></i></span>Creative Director</h4>
                  <span class="meta">09.2017 - 04.2019</span>
                  <h5>Freelancer</h5>
                  <p>hasellus ipsum metus, gravida sit amet sollicitudin ac, efficitur eget risus. Curabitur commodo
                     malesuada neque at hendrerit.</p>
               </div>
            </div>
            <div class="col-md-6">
               <div class="item mb-40">
                  <h4><span class="item-icon"><i class="fas fa-graduation-cap"></i></span>Specialization course</h4>
                  <span class="meta">10.2018 - 09.2019</span>
                  <h5>Freelancer</h5>
                  <p>Phasellus ipsum metus, gravida sit amet sollicitudin ac, efficitur eget risus. Curabitur commodo
                     malesuada neque at hendrerit.</p>
               </div>
               <div class="item mb-40">
                  <h4><span class="item-icon"><i class="fas fa-graduation-cap"></i></span>Specialization course</h4>
                  <span class="meta">09.2018 - 04.2019</span>
                  <h5>Freelancer</h5>
                  <p>Phasellus ipsum metus, gravida sit amet sollicitudin ac, efficitur eget risus. Curabitur commodo
                     malesuada neque at hendrerit.</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- Resume Section End -->

   <!-- Counter Section -->
   <div class="counter img" id="section-counter" style="background-image: url(images/bg_1.jpg);">
      <div class="overlay"></div>
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-md-10">
               <div class="row">
                  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
                     <div class="block-counter text-center">
                        <div class="text">
                           <div class="icon"><i class="fas fa-thumbs-up"></i></div>
                           <strong class="number">+80</strong>
                           <span>Complete projects</span>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
                     <div class="block-counter text-center">
                        <div class="text">
                           <div class="icon"><i class="fas fa-award"></i></div>
                           <strong class="number">+4</strong>
                           <span>Number of Awards</span>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
                     <div class="block-counter text-center">
                        <div class="text">
                           <div class="icon"><i class="fas fa-smile"></i></div>
                           <strong class="number">+50</strong>
                           <span>Happy Clients</span>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
                     <div class="block-counter text-center">
                        <div class="text">
                           <div class="icon"><i class="fas fa-graduation-cap"></i></div>
                           <strong class="number">+8</strong>
                           <span>Certifications</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Counter Section End -->

   <!-- Work Section -->
   <section class="section dark" id="work">
      <div class="container">
         <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section  text-center">
               <div class=" white section-title-uin"> WORKS </div>
               <h2 class="mb-4">My Works</h2>
               <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
               <p class="mt-5">Take a look of some of my sample projects. I wish you would love them and let me build yours.</p>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-lg-12 ">
               <ul class="work-filter text-center">
                  <li class="filter all active" data-filter="*">All</li>         
                  <li class="filter" data-filter=".web">Web</li>
                  <li class="filter" data-filter=".mobile">Desktop</li>
                  <li class="filter" data-filter=".photo">Mobile</li>
                  <li class="filter" data-filter=".branding">Technical Writings</li>
               </ul>
            </div>
            <div class="col-lg-12">
               <div class="work-gallery">
                  <div class="col-lg-4 col-md-4 col-sm-12 all photo mobile">
                     <div class="work">
                        <img class="img-fluid" src="images/work-1.jpg" alt="">
                        <div class="desc">
                           <div class="con">
                              <h3><a href="work-single.html">Work 1</a></h3>
                              <span>Branding, Photography</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 all web">
                     <div class="work">
                        <img class="img-fluid" src="images/work-2.jpg" alt="">
                        <div class="desc">
                           <div class="con">
                              <h3><a href="work-single.html">Work 2</a></h3>
                              <span>Mobile, Web, Branding</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 all branding web">
                     <div class="work">
                        <img class="img-fluid" src="images/work-3.jpg" alt="">
                        <div class="desc">
                           <div class="con">
                              <h3><a href="work-single.html">Work 3</a></h3>
                              <span>Mobile, Web</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 all web branding">
                     <div class="work">
                        <img class="img-fluid" src="images/work-4.jpg" alt="">
                        <div class="desc">
                           <div class="con">
                              <h3><a href="work-single.html">Work 4</a></h3>
                              <span>Web, Branding</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 all mobile">
                     <div class="work">
                        <img class="img-fluid" src="images/work-5.jpg" alt="">
                        <div class="desc">
                           <div class="con">
                              <h3><a href="work-single.html">Work 5</a></h3>
                              <span>Mobile, Photography</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 all branding">
                     <div class="work">
                        <img class="img-fluid" src="images/work-6.jpg" alt="">
                        <div class="desc">
                           <div class="con">
                              <h3><a href="work-single.html">Work 6</a></h3>
                              <span>Web, Branding</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- Work Section End -->

   <!-- Contact Section -->
   <section class="section contact-section dark" id="contact">
      <div class="container mt-5">
         <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section  text-center">
               <div class=" white section-title-uin"> CONTACT </div>
               <h2 class="mb-4">Get in touch</h2>
               <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
               <p class="mt-5">Do you want to get in touch? I will be pleased to hear from you, and glad to do business with you.</p>
            </div>
         </div>
         <div class="row block-9">
            <div class="col-md-4 contact-info ">
               <div class="row">
                  <div class="col-md-12 mb-4">
                     <h2 class="h4">Contact Information</h2>
                  </div>
                  <div class="col-md-12 mb-3">
                     <p><span>Address:</span> Lagos, Nigeria</p>
                  </div>
                  <div class="col-md-12 mb-3">
                     <p><span>Phone:</span> <a href="tel://+2348163922749">+234 816 392 2749</a></p>
                  </div>
                  <div class="col-md-12 mb-3">
                     <p><span>Email:</span> <a href="mailto:agavitalisogbonna@gmail.com">agavitalisogbonna@gmail.com</a></p>
                  </div>
                  <div class="col-md-12 mb-3">
                     <p><span>Website:</span> <a href="#">agavitalis.herokuapp.com</a></p>
                  </div>
               </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 ">
               <form action="#" class="contact-form">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Your Name">
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Your Email">
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <input type="text" class="form-control" placeholder="Subject">
                  </div>
                  <div class="form-group">
                     <textarea name="message" id="message" cols="30" rows="7" class="form-control"
                        placeholder="Message"></textarea>
                  </div>
                  <div class="form-group">
                     <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                  </div>
               </form>
            </div>
         </div>
      </div>
   </section>
   <!-- Contact Section End -->

   <!-- Footer -->
   <footer class="footer section img" id="footer">
      <div class="overlay"></div>
      <div class="container">
         <div class="row mb-5">
         </div>
         <div class="row">
            <div class="col-md-12 text-center">
               <a class="navbar-brand mb-3 ml-3" href="index.html">@agavitalis</a>

               <!-- Social -->
               <p class="social-icon">
                  <a href="#"><i class="fab fa-facebook-square"></i></a>
                  <a href="#"><i class="fab fa-twitter-square"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-dribbble"></i></a>
               </p>

               <!-- Copyright -->
               <p>Copyright 2020 &copy; All rights reserved.</p>

            </div>
         </div>
      </div>

      <!-- Back to top button -->
      <a id="back-to-top" href="#"><i class="fas fa-chevron-up"></i></a>

   </footer>
   <!-- Footer End -->

   <!-- jQuery -->
   <script src="js/jquery.min.js"></script>
   <!-- Popper js -->
   <script src="js/popper.min.js"></script>
   <!-- Bootstrap js -->
   <script src="js/bootstrap.min.js"></script>
   <!-- isotope js -->
   <script src="js/isotope.pkgd.min.js"></script>
   <!-- isotope image loader js -->
   <script src="js/imagesloaded.pkgd.min.js"></script>
   <!-- Particles -->
   <script src="js/particles.min.js"></script>
   <script src="js/app.js"></script>
   <!-- Typed js -->
   <script src="js/typed.min.js"></script>
   <!-- Custom js -->
   <script src="js/custom.js"></script>
</body>

</html>